@using Biblioteca
@model Plato
<!DOCTYPE html>
<html>
<head>
    <title>Alta Plato</title>
</head>
<body>
    <form asp-action="Crear" method="post">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="plato">Nombre del Plato:</label>
            <input asp-for="plato" />
        </div>

        <div>
            <label asp-for="descripcion">Descripción:</label>
            <input asp-for="descripcion" />
        </div>

        <div>
            <label asp-for="precio">Precio:</label>
            <input asp-for="precio" type="number" step="0.01" />
        </div>

        <div>
            <label for="idRestaurant">Restaurante:</label>
            <select id="idRestaurant" name="idRestaurant">
                <option disabled selected>--Seleccionar Restaurante--</option>
                @foreach (var restaurant in ViewBag.Restaurantes)
                {
                    <option value="@restaurant.id">@restaurant.restaurante</option>
                }
            </select>
        </div>

        <button type="submit">Crear Plato</button>
    </form>
</body>
</html>