@model Resto.MVC.Controllers.Modal.PlatoModal

@{
    ViewData["Title"] = "Alta plato";
}

<div class="container">
    <form asp-action="AltaCliente" method="post" class="was-validated">
        <div class="row mb-2">
            <label for="text" class="col-sm-2 col-form-label">Correo electrónico</label>
            <div class="col-sm-10">
                <input type="text" id="email" asp-for="plato" required placeholder="Ingrese su correo electrónico"
                    class="form-control">
                <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" id="nombre" asp-for="descripcion" required placeholder="Ingrese su nombre"
                    class="form-control">
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="number" id="apellido" asp-for="precio" required placeholder="Ingrese su apellido"
                    class="form-control">
                <div class="invalid-feedback">Este campo es requerido.</div>
            </div>
        </div>
        <div class="row mb-2">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <select asp-for="disponible" class="form-control">
                    <option value="">Disponibilidad</option>
                    <option value="1">true</option>
                    <option value="0">false</option>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <select asp-for="idRestaurant" id="" class="form-control">
                    <option value="">Elija el restaurante</option>
                    @foreach (var restaurant in Model.restaurants)
                    {
                        <option value="@restaurant.id">@restaurant.restaurante</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
