@using Biblioteca
@model IEnumerable<Plato>

<h1>Platos</h1>

<table>
    <tr>
        <thead>
            Nombre
        </thead>
        <thead>
            Descripcion
        </thead>
        <thead>
            Disponibilidad
        </thead>
    </tr>
    <table>
        <thead></thead>
    @foreach (Plato plato in Model)
    {
        <tr>
            <td>
                @plato.plato
            </td>
            <td>
                @plato.descripcion
            </td>
            @if (plato.disponible)
            {
                <td>Disponible</td>
            }
            else
            {
                <td>No Disponible</td>
            }
        </tr>
    }
    </table>
</table>
</tbody>
