@using Biblioteca
@model IEnumerable<Plato>
<!-- Buscar Plato -->
<nav class="navbar bg-body-tertiary">
    <h1>Platos</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <form class="d-flex" role="Buscar comida" asp-controller="BuscarPlato" asp-action="BuscarPlato" method="get">
            <input class="form-control me-2" type="text" placeholder="Buscar comida" aria-label="Buscar comida"
                name="cadena">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</nav>
<div class="container mt-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>

        @foreach (var plato in Model)
        {
            <tr>
                <td>
                    <a class="dropdown-item" asp-controller="Plato" asp-action="DetallePlato"><i
                    class="bi bi-list-nested"></i>@plato.plato</a>
                </td>
                <td>@plato.descripcion</td>
                <td>@plato.precio</td>
                @if (plato.disponible)
                {
                    <td>Disponible</td>
                }
                else
                {
                    <td>No Disponible</td>
                }
            </tr>
        }
    </table>
</div>