@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>Tu mejor opcion somos nosotros</h1>
    <img src="https://img.freepik.com/foto-gratis/surtido-plano-deliciosa-comida-brasilena_23-2148739179.jpg" alt="Descripción de la imagen" width="500">
</body>


