<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resto.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Resto.MVC.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="http://localhost:5280/">ComidApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Comida
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                    <li><a class="dropdown-item" asp-controller="Plato" asp-action="ObtenerPlato"><i
                                                class="bi bi-list-nested"></i>Platos</a>
                                    </li>
                                    <li><a class="dropdown-item" asp-controller="Plato" asp-action="GetAltaPlato"><i
                                                class="bi bi-plus-circle"></i> Alta</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Cliente
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                    <li><a class="dropdown-item" asp-controller="Cliente"
                                            asp-action="ObtenerClientes"><i class="bi bi-list-nested"></i> Listado</a>
                                    </li>
                                    <li><a class="dropdown-item" asp-controller="Cliente" asp-action="GetAltaCliente"><i
                                                class="bi bi-plus-circle"></i> Alta</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarEquipoMenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Restaurant
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarEquipoMenu">
                                    <li><a class="dropdown-item" asp-controller="Restaurante"
                                            asp-action="ObtenerRestaurants"><i class="bi bi-list-nested"></i> Listado</a>
                                    </li>
                                    <li><a class="dropdown-item" asp-controller="Restaurante" asp-action="GetAltaRestaurante"><i
                                                class="bi bi-plus-circle"></i> Alta</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
            <!-- Buscar Plato -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" role="Buscar comida" asp-controller="BuscarPlato" asp-action="BuscarPlato"
                        method="get">
                        <input class="form-control me-2" type="text" placeholder="Buscar comida"
                            aria-label="Buscar comida" name="cadena">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
            <!-- Buscar Cliente -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" role="Buscar Cliente" asp-controller="BuscarCliente" asp-action="BuscarCliente" 
                        method="get">
                        <input class="form-control me-2" type="text" placeholder="Buscar cliente" aria-label="Buscar cliente"
                            name="cadena">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
            <!-- Buscar Restaurant -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" role="Buscar Restaurant" asp-controller="BuscarRestaurant" asp-action="BuscarRestaurant"
                        method="get">
                        <input class="form-control me-2" type="text" placeholder="Buscar Restaurante"
                            aria-label="Buscar restaurante" name="cadena">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Resto.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
