@using Biblioteca
@model IEnumerable<Plato>
<!-- Buscar Plato -->
<nav class="navbar bg-body-tertiary">
    <h1>Platos</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <form class="d-flex" role="Buscar comida" asp-controller="BuscarPlato" asp-action="BuscarPlato" method="get">
            <input class="form-control me-2" type="text" placeholder="Buscar comida" aria-label="Buscar comida"
                name="cadena">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr class="bg-dark text-white">
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                
            </tr>
            @foreach (var plato in Model)
            {
                <tr>
                    <td>@plato.plato</td>
                    <td>@plato.descripcion</td>
                    <td>@plato.precio</td>
                    @if (plato.disponible)
                    {
                        <td>Disponible</td>
                    }
                    else
                    {
                        <td>No Disponible</td>
                    }
                </tr>
            }
        </table>
    </div> 